.ChatForm {
  text-align: center;
  display: flex;
  flex-flow: column;
  width: 50vw;
  margin: 0 auto;
  margin-top: 2px;
  padding: 5px;
}

.MessageField {
  height: 20vh;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  margin-top: 0px;
  color: #2E2E30;
}

.Button {
  margin-top: 6px;
  height: 25px;
  background-color: #FFB94F;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 8px #6375B0;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #6375B0;
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 4px;
}

.Button:hover {
  background-color: #FFAA2B;
  color: #3E4DB0;
}
