.MessageBox {
  background-color: #CFC8C2;
  width: 80vw;
  min-height: 24px;
  height: auto;
  margin: 0 auto;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  word-wrap: break-word;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 4px 5px gray;
}

strong {
  float: left;
  margin-left: 10px;
  padding: 4px;
  color: #2E2E30;
  text-shadow: 0px 4px 5px #9E9E9E;
}

p {
  margin: 10px;
  padding: 4px;
  color: #2E2E30;
}
